.container {
  background-color: rgb(19, 168, 218);
  color: white;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.image-column,
.text-column {
  flex-basis: calc(100% / 4);
}

img {
  background-color: white;
  border-radius: 2em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h2,
p {
  text-align: center;
}
