.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 600px;
  margin: auto;
}

.circle {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.orange {
  background: orange;
}

.yellow {
  background: yellow;
  box-shadow: 5px 5px 3px 3px rgba(255, 255, 0, 0.75);
}

.black {
  background: black;
}

.grey {
  background: grey;
  box-shadow: 5px 5px 3px 3px rgba(128, 128, 128, 0.75);
}
